:root {
    /* Border Width */
    --border-width-s: 0.0333rem; /* 0.5px */
    --border-width-m: 0.0667rem; /* 1px */
    --border-width-l: 0.1333rem; /* 2px */

    /* Border Radius */
    --radius-xs: 0.2rem; /* 3px */
    --radius-s: 0.3333rem; /* 5px */
    --radius-m: 0.6rem; /* 9px */
    --radius-l: 1rem; /* 15px */
    --radius-xl: 1.4rem; /* 21px */
}
